* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(42, 41, 41);
}

.card {
    font-family: "Poppins", sans-serif;
    border-radius: 30px;
    overflow: hidden;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2vw 3vw 2vw;
    max-width: 45%;
    box-shadow: 1vw 1vw 1vw rgb(0, 0, 0);
    background-image: linear-gradient(to bottom right, rgb(136, 255, 136), rgb(76, 231, 218), rgb(90, 186, 250));
}

.search {
    display: flex;
    justify-content: space-between;
    margin: 5vw 5vw 1vw 5vw;
}

.search input {
    outline: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-size: 1.3vw;
    width: 15.5vw;
    border: none;
    padding-left: 2vw;
    padding-bottom: .2vw;
    border-radius: 3vw;
}

.search input:focus {
    transition: 1s;
    width: 24vw;
}

.search ::placeholder {
    opacity: 0.35;
}

.search button {
    background-color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}

.search img{
    width: 4vw;
    padding: 1vw 1.2vw 1vw 1.2vw;
}

.search img:hover {
    padding: .8vw 1vw .8vw 1vw;
    transition: .5s;
}

.weather {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.weather-icon {
    width: 12vw;
    margin-bottom: 2vw;
    margin-top: 5vw;
}

.temp, .city {
    color: white;
    font-size: 3vw;
    font-weight: 300;
}

.temp {
    font-size: 5.5vw;
    font-weight: 600;
}

.details {
    font-weight:500;
    margin-top: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    font-size: 1.3vw;
    margin: 2vw 1vw;
}

.col {
    display: flex;
    text-align: left;
    gap: 1.5vw;
    margin: 2vw;
}

.humidity {
    width: 5vw;
}

.humidity-p {
    font-size: 2vw;
    font-weight: 700;
}

.wind {
    object-fit: contain;
    width: 6vw;
}

.wind-p {
    font-size: 2vw ;
    font-weight: 700;
}

.weather {
    display: none;
}

.error {
    text-align: center;
    color: white;
    display: none;
    margin-top: 3vw;
}