* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    --background-color: white;
    --text-color: black;
    --elements-color: white;
    --border-color: rgb(206, 206, 206);
    font-family: 'Nunito';
    font-weight: 800;
    background-color: var(--elements-color);
}


body.dark {
    --background-color:  hsl(209, 23%, 22%);
    --text-color: white;
    --elements-color: hsl(207, 26%, 17%);
    --border-color: black;
}

.main {
    padding: 5rem 10rem;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid var(--border-color);
    padding: 3rem 7rem;
    background-color: var(--background-color);
}

.top h2 {
    font-size: 3rem;
}

.top a {
    text-decoration: none;
    color: var(--text-color);
}


.top img {
    width: 2rem;
}

.dark-mode {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

.dark-mode a {
    margin-top: .1rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
}

.light-mode {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
    display: none;
}

.light-mode a {
    margin-top: .2rem;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
}

.back-button span {
    margin-right: 1rem;
    font-size: 2.5rem;
}

.back-button button{
    cursor: pointer;
    font-weight: 600;
    color: var(--text-color);
    background-color: var(--background-color);
    border: none;
    border-radius: .5rem;
    box-shadow: 0 0 .5rem rgb(30, 30, 30);
    font-size: 1.5rem;
    padding: 0rem 1.5rem 1rem 1.5rem;
}

.card-container {
    display: flex;
    margin: 5rem 10rem 0 10rem;
    background-color: var(--background-color);
}

.card-container img {
    width: 100%;
    object-fit: contain;
}

.card-content {
    padding: 7rem 0;
    width: 100%;
    margin: auto 0;
    margin-left: 7rem;
    margin-right: 2rem;
    color: var(--text-color);
}

.card-content-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5rem;
}

.card-content h1 {
    font-size: 4rem;
    margin-bottom: 3rem;
} 

.card-content p {
    font-size: 1.5rem;
}

.card-content-bottom {
    margin-top: 4rem;
}

.card-content-bottom a {
    font-weight: 500;
    text-decoration: none;
    font-size: 1.2rem;
    margin-top: 2rem;
    margin-right: 2rem;
    color: var(--text-color);
    padding: .5rem 2rem;
    border-radius: .5rem;
    font-weight:500;
    border: 1px solid rgb(194, 192, 192);
    box-shadow: none;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.card-content span {
    color: var(--text-color);
    font-weight: 300;
    font-size: 1.5rem;
}

@media(max-width: 1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width: 1050px) {
    html {
        font-size: 45%;
    }

    .card-container{
        flex-direction: column;
        margin: 0 auto;
        margin-top: 5rem;
        width: 80%;
    }

    .card-container img {
        width: 100%;
    }

    .main {
        padding: 20rem;
        padding-top: 5rem;
    }

    .card-content {
        margin: 0;
        padding: 10rem 5rem;
    }

    .card-content h1 {
        font-size: 4rem;
    }

    .card-content p, .card-content span {
        font-size: 2rem;
        line-height: 3.5rem;
    }

}
@media(max-width: 870px) {
    html {
        font-size: 40%;
    }

    .back-button button{
        padding: 1rem 3rem 1.5rem 3rem;
    }

    .card-content-main {
        display: block;
    }

    .card-content {
        width: 100%;
        padding: 7rem;
    }

    .card-content-bottom {
        flex-wrap: wrap;
    }
}
@media(max-width: 768px) {
    html {
        font-size: 35%;
    }

    .main {
        padding: 7rem 10rem;
    }

    .card-container{
        flex-direction: column;
        margin: 0 auto;
        margin-top: 5rem;
        width: 100%;
    }

    .card-content {
        margin: 0;
        padding: 4rem;
    }

    .card-content p, .card-content span {
        font-size: 2rem;
    }

}
